<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::head}"></head>
<body>
<footer th:replace="~{fragments.html::header}"></footer>

<section>
	<!--배경이미지-->
	<div class="bg-img-box">
		<div class="bg-img-text">
			<h1 class="bg-img-title">
				<span class="emphasis-word">세</span>상을 <span class="emphasis-word">바</span>꿀 <span
					class="emphasis-word">독</span>서모임
			</h1>
			<p class="bg-img-content">세상을 바꾸겠습니다. 독서모임을 도와드릴게요. 같이 기록합시다. 쏼라쏼라쏼라</p>
		</div>
	</div>
		<!--서비스 소개-->
		<div class="service-info-box"></div>
		<!--앱 다운로드 및 설치가능 OS-->
		<div class="os-info-box"></div>
		<!--맴버 프로필 및 인용구 소개 슬라이드-->
		<div class="member-info-slide"></div>
</section>

<footer th:replace="~{fragments.html::footer}"></footer>
</body>
</html>